{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>Polls</h1>

{% if latest_poll_list %}
    <ul>
        {% for poll in latest_poll_list %}
            <li>
                <a href="{% url 'polls:detail' poll.id %}">{{ poll }}</a>
                {% if poll.was_published_recently %}
                    <span style="color:blue;font-size:12px;">new!</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
